/* CSS for nav bar*/
.ul-1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 23, 23);
}

/* to dispay nav in same line*/
li{
    display: inline;
    float: left;
}

/*To decorate the nav bar*/
li a{
    display: block;
    padding: 18px 16px;
    text-align: center;
    text-decoration: none;
    color: white;

}


/* hover effect for nav*/
li a:hover{
    background-color: grey;
}
.nav-1{
    margin: 0;
}
body{
    margin: 0;
}